@charset "utf-8";

html {
  font-size: 100%;
}
body {
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  color: #2a2a2a;
}
img {
  max-width: 100%;
}
a {
  color: #2a2a2a;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
}
.sec-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  color: #2a2a2a;
  font-size: 0.7rem;
  border: 1px solid #2a2a2a;
  padding: 15px 35px;
  margin-top: 20px;
}

/*-------------------------------------------
Header
-------------------------------------------*/
#header {
  height: 100vh;
  background-image: url(../img/mainvisual.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
}
#header .site-title {
  position: absolute;
  right: 30px;
  top: 30px;
}

/*-------------------------------------------
Magazine
-------------------------------------------*/
#magazine {
  text-align: center;
  margin-bottom: 80px;
}
#magazine .flex-item {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
#magazine .flex-item .item {
  position: relative;
  width: 49%;
}
#magazine .flex-item .item .text {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  padding: 5% 0;
  margin: 0 auto;
}
#magazine .flex-item .item .text .title {
  font-size: 20px;
}

/*-------------------------------------------
Fashion
-------------------------------------------*/
#fashion {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 80px;
  background: url(../img/fashion.jpg) no-repeat center top/cover;
  height: 500px;
}

/*-------------------------------------------
Catalog & Antique
-------------------------------------------*/
.catalog-antique {
  background-color: #f5f5f5;
  padding: 60px 0;
}
.catalog-antique .flex-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog-antique .item {
  width: 48%;
  text-align: center;
}
.catalog-antique .item img {
  width: 100%;
}
.catalog-antique .sec-title {
  margin-bottom: 40px;
}
.catalog-antique .item p {
  margin-bottom: 30px;
  text-align: left;
}
.catalog-antique .item p:last-child {
  margin-bottom: 0;
}

/*-------------------------------------------
Footer
-------------------------------------------*/
#footer {
  background-color: #333;
  font-size: 0.7rem;
}
#footer .flex-item {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}
#footer .item {
  width: 30%;
  line-height: 2;
}
#footer .item:first-child {
  padding: 60px 0;
}
#footer .item .title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
#footer .copyright {
  background-color: #fff;
  text-align: center;
  padding: 30px 0;
}
#footer .item li::before {
  content: "-";
  margin-right: 5px;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 896px) {
  /*-------------------------------------------
  Magazine
  -------------------------------------------*/
  #magazine .flex-item {
    flex-direction: column;
  }
  #magazine .flex-item .item {
    width: 100%;
  }
  #magazine .flex-item .item:first-child {
    margin-bottom: 30px;
  }
  
  /*-------------------------------------------
  Fashion
  -------------------------------------------*/
  #fashion {
    padding-top: 35px;
    margin-bottom: 50px;
  }
  
  /*-------------------------------------------
  Catalog & Antique
  -------------------------------------------*/
  .catalog-antique {
    padding: 30px 0;
  }
  .catalog-antique .flex-item {
    flex-direction: column;
  }
  .catalog-antique .item {
    width: 100%;
  }
  .catalog-antique .item:first-child {
    margin-bottom: 60px;
  }
  
  /*-------------------------------------------
  Footer
  -------------------------------------------*/
  #footer .flex-item {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #footer .item {
    width: 100%;
    margin-bottom: 30px;
  }
  #footer .item:first-child {
    text-align: center;
    padding: 0;
  }
}

